<ion-view title="MAW">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Forfaits internet</h1>

<div class="card">
  <div class="item item-divider">
    Libre 120f/Mb
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','Libre')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*0*%23')">
      USSD
    </button>
  </div>
</div>
<div class="card">
  <div class="item item-divider">
    5Mb / 100F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*100*%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    15Mb / 200F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*200*%23')">
      USSD
    </button>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    40 Mb / 500F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','40Mb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*1%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    100 Mb / 1000F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','100Mb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*2%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    250 Mb / 2000F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','250Mb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*3%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    1 Gb / 7000F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','1Gb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*4%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    3 Gb / 15000F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','3Gb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*6%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    5 Gb / 20000F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','5Gb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*7%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    10 Gb / 35000F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','10Gb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*8%23')">
      USSD
    </button>
  </div>
</div>
      
<div class="card">
  <div class="item item-divider">
    20 Gb / 60000F
  </div>
  <div class="item item-text-wrap button-bar">
    <button class="button button-positive" onclick="app.sms('7084','20Gb')">
      SMS
    </button>
    <button class="button button-positive" onclick="app.appel('*130*1*9%23')">
      USSD
    </button>
  </div>
</div>
            
  </ion-content>
</ion-view>
