<ion-view title="MAW">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Me2U</h1>

<div class="card">
  <div class="item item-divider">
    Activation Code de transfer
  </div>
  <div class="item item-text-wrap">
 <div class="list">
  <label class="item item-input">
    <span class="input-label">Code ME2U</span>
    <input type="number" placeholder="ex: 4321">
  </label>
</div>
<button class="button button-block button-positive">
  Activer
</button>
  </div>
</div>

    
<div class="card">
  <div class="item item-divider">
    Transfer de crédit
  </div>
  <label class="item item-input">
    <span class="input-label">Destinataire</span>
    <input type="tel" placeholder="ex: 97409633">
  </label>
  <label class="item item-input">
    <span class="input-label">Montant(FCFA)</span>
    <input type="text" placeholder="ex: 1200">
  </label>
  <div class="item row">
  <div class="col"><div class="button-bar">
  <button class="button button-positive">Transfert par SMS</button>
  <button class="button button-positive">Transfert par USSD</button>
</div>
</div>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Changer Code de transfer
  </div>
  <div class="item item-text-wrap">
 <div class="list">
  <label class="item item-input">
    <span class="input-label">Nouveau code ME2U</span>
    <input type="text" placeholder="ex: 4321">
  </label>
</div>
<button class="button button-block button-positive">
  Changer
</button>
  </div>
</div>

    
    </ion-content>
</ion-view>
