<ion-view title="MAW">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Changement de sim</h1>

<div class="card">
  <div class="item item-divider">
    Code changement de SIM
  </div>
  <div class="item item-text-wrap">
    <button class="button button-block button-positive">
  Obtenir le code
</button>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Changement de SIM
  </div>
  <label class="item item-input">
    <span class="input-label">Votre numero perdu</span>
    <input type="text" placeholder="ex: 97409633">
  </label>
  <label class="item item-input">
    <span class="input-label">Numero SIM de la carte SIM vierge</span>
    <input type="text" placeholder="ex: 97496331200">
  </label>
  <div class="item row">
  <div class="col"><div class="button-bar">
  <button class="button button-positive">Changer</button>
</div>
</div>
  </div>
</div>


    </ion-content>
</ion-view>
